force-app/main/default/flows/Ajouter_des_Produits_d_opportunite_ScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AddFraisdeGestionToCollectionProduitsOpp</name>
        <label>AddFraisdeGestionToCollectionProduitsOpp</label>
        <locationX>693</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppPromoPerso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeGestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionFraisdeMediaNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFraisdeMediatoCollectionProduitsOpp</name>
        <label>AddFraisdeMediatoCollectionProduitsOpp</label>
        <locationX>693</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppPromoPerso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeMedia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionFraisdeSetupNul</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFraisdePerformanceToCollectionProduitsOpp</name>
        <label>AddFraisdePerformanceToCollectionProduitsOpp</label>
        <locationX>693</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppPromoPerso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDePerformance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionFraisdeGestionNul</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddFraisdeSetupToCollectionProduitsOpp</name>
        <label>AddFraisdeSetupToCollectionProduitsOpp</label>
        <locationX>693</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppPromoPerso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisdeSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProduitsOppPromoPerso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddGenerositeToCollection</name>
        <label>AddGenerositeToCollectionProduitsOpp</label>
        <locationX>693</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppPromoPerso</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeGenerosite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionFraisdePerformanceNonNul</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_final_Collection</name>
        <label>Assign to final Collection</label>
        <locationX>1001</locationX>
        <locationY>4478</locationY>
        <assignmentItems>
            <assignToReference>Collection_ProductOpp_Creation_Final</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopProduitsOppPromoPerso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProduitsOppPromoPerso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Blank_Var_Produit_Opp</name>
        <label>Assignement Blank Var Produit Opp</label>
        <locationX>2409</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>VarProduitOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarBlankProduitOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DecisionNewProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Var_Produit_d_Opp</name>
        <label>Assignement Var Produit d&apos;Opp</label>
        <locationX>2409</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarProduitOpp.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Product_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.CustomDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remise_appliquee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.Montant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MontantAutre</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_d_but</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProduitOpp.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_fin2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Produits_d_Opportunit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementCollectionCategorieReserveeProduit</name>
        <label>AssignementCollectionCategorieReservéeProduit</label>
        <locationX>2365</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>CollectionCategorieReserveeProduits</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyCategorieReserveeProduit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRayonList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementDummyCategorieReserveeProduit</name>
        <label>AssignementDummyCategorieReserveeProduit</label>
        <locationX>2365</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>DummyCategorieReserveeProduit.Categorie_reservee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRayonList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCategorieReserveeProduit.Produit_opportunite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarProduitOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignementCollectionCategorieReserveeProduit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementFraisDeGestion</name>
        <label>AssignementFraisDeGestion</label>
        <locationX>693</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.PricingModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Euros par coupon</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.Nb_de_coupons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nb_de_couponsFraisdeGestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prix_UnitaireFraisDeGestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.CustomDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remise_appliqueeFraisDeGestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais de Gestion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFraisdeGestionToCollectionProduitsOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementRecordTypeonOpp</name>
        <label>AssignementRecordTypeonOpp</label>
        <locationX>1309</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarProduitOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_RT_ProduitOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarBlankProduitOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_RT_ProduitOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementVarOppFraisDeGenerosite</name>
        <label>AssignementVarOppFraisDeGenerosite</label>
        <locationX>693</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.PricingModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Montant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.Montant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalGenerosite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generosite</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddGenerositeToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementVarOppFraisdePerformance</name>
        <label>AssignementVarOppFraisdePerformance</label>
        <locationX>693</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.PricingModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>% de la générosité</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Pourcentage_de_la_generosite__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Frais_de_performance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_performance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Total_Frais_de_performance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFraisDePerformance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFraisdePerformanceToCollectionProduitsOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Product</name>
        <label>Assignment Product</label>
        <locationX>1089</locationX>
        <locationY>4178</locationY>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LooptoAssignProducttoProductOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LooptoAssignProducttoProductOpp.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LooptoAssignProducttoProductOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentTypedeProduits</name>
        <label>AssignmentTypedeProduits</label>
        <locationX>715</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Generosite</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais de Gestion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_media</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_performance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Variable_Type_de_Produit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeGenerosite</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Variable_Type_de_Produit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeGestion</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Variable_Type_de_Produit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Variable_Type_de_Produit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisDePerformance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Collection_Variable_Type_de_Produit</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarOppFraisdeSetup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetProduitsOppExistants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentVarOppFraisdeMedia</name>
        <label>AssignmentVarOppFraisdeMedia</label>
        <locationX>693</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_media</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolumeFraisDeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prix_UnitaireFraisdeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.CustomDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemiseAppliqueeFraisdeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFraisdeMediatoCollectionProduitsOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentVarOppFraisdeSetup</name>
        <label>AssignmentVarOppFraisdeSetup</label>
        <locationX>693</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.Type_de_produit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frais_de_setup</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prix_UnitaireFraisDeSetup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VolumeFraisDeSetup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.CustomDiscount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remise_appliqueeFraisdeSetup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_Product.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddFraisdeSetupToCollectionProduitsOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProduitOpp</name>
        <label>AssignVarProduitOpp</label>
        <locationX>1001</locationX>
        <locationY>4370</locationY>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.Enseignes__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Intermarche</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_debut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopProduitsOppPromoPerso.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_de_fin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_final_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProduitGenerositeExiste</name>
        <label>ProduitGenerositeExiste</label>
        <locationX>803</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.Montant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Montant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGenerosite.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProduitGestionExiste</name>
        <label>ProduitGestionExiste</label>
        <locationX>1595</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeGestion.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProduitMediaExiste</name>
        <label>ProduitMediaExiste</label>
        <locationX>1067</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDeMedia.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProduitPerformanceExiste</name>
        <label>ProduitPerformanceExiste</label>
        <locationX>1859</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisDePerformance.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProduitSetupExiste</name>
        <label>ProduitSetupExiste</label>
        <locationX>1331</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.Package__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Package__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarOppFraisdeSetup.Total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Existants.Total__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>ProductPromoPerso</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>ProductPromoPerso</label>
        <locationX>1001</locationX>
        <locationY>3962</locationY>
        <assignNextValueToReference>currentItem_ProductPromoPerso_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetAllProductsPromoPerso</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_ProductPromoPerso_0.Type_de_produit__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LoopProduitsOppPromoPerso.Type_de_produit__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>LooptoAssignProducttoProductOpp</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>TestConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Test</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ByPass</name>
        <label>ByPass Flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ByPass</defaultConnectorLabel>
        <rules>
            <name>By_Pass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS1_ByPass__c.ByPass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>ByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Calculer</name>
        <label>Decision Calculer?</label>
        <locationX>715</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoutonCalculer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Calculer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Promo_Perso2</targetReference>
            </connector>
            <label>Calculer?</label>
        </rules>
        <rules>
            <name>Creer_les_Produits_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bouton_Creer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Créer les produits d&apos;opportunité</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionGenerositeNonNulle</targetReference>
            </connector>
            <label>Créer les Produits d&apos;opportunité</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Promo_Perso</name>
        <label>Decision Promo Perso ?</label>
        <locationX>1309</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_RT_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hors Promo Perso</defaultConnectorLabel>
        <rules>
            <name>Promo_Perso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Promotion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentTypedeProduits</targetReference>
            </connector>
            <label>Promo Perso</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFraisdeGestionNul</name>
        <label>DecisionFraisdeGestionNul</label>
        <locationX>825</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>DecisionFraisdeMediaNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FraisdeGestionNul</defaultConnectorLabel>
        <rules>
            <name>FraisdeGestionNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFraisDeGestion</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFraisDeGestion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignementFraisDeGestion</targetReference>
            </connector>
            <label>FraisdeGestionNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFraisdeMediaNull</name>
        <label>DecisionFraisdeMediaNull?</label>
        <locationX>825</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>DecisionFraisdeSetupNul</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FraisdeMediaNul</defaultConnectorLabel>
        <rules>
            <name>FraisdemediaNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFraisDeMedia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFraisDeMedia</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentVarOppFraisdeMedia</targetReference>
            </connector>
            <label>FraisdeMediaNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFraisdePerformanceNonNul</name>
        <label>DecisionFraisdePerformanceNonNul</label>
        <locationX>825</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>DecisionFraisdeGestionNul</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FraisdePeformanceNul</defaultConnectorLabel>
        <rules>
            <name>FraisdePerformanceNonNul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFraisDePerformance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignementVarOppFraisdePerformance</targetReference>
            </connector>
            <label>FraisdePerformanceNonNul</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionFraisdeSetupNul</name>
        <label>DecisionFraisdeSetupNul</label>
        <locationX>825</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>LoopProduitsOppPromoPerso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FraisdeSetupNul</defaultConnectorLabel>
        <rules>
            <name>FraisdeSetupNul</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalFraisDeSetup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TotalFraisDeSetup</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentVarOppFraisdeSetup</targetReference>
            </connector>
            <label>FraisdeSetupNonNul</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionGenerositeNonNulle</name>
        <label>DecisionGenerositeNonNulle?</label>
        <locationX>825</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>DecisionFraisdePerformanceNonNul</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GenerositeNulle</defaultConnectorLabel>
        <rules>
            <name>GenerositeNonNulle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalGenerosite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetProduitsOppExistants</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignementVarOppFraisDeGenerosite</targetReference>
            </connector>
            <label>GénérositeNonNulleEtExistePasDeja</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionNewProduct</name>
        <label>Decision New Product</label>
        <locationX>2409</locationX>
        <locationY>2138</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_New_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonAjoutProduitOpp.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ajouter ce produit et créer un autre</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajouter_des_Produits_Opp</targetReference>
            </connector>
            <label>Add New Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionPromogaming</name>
        <label>DecisionPromogaming?</label>
        <locationX>2409</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Assignement_Blank_Var_Produit_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NonPromogaming</defaultConnectorLabel>
        <rules>
            <name>Promogaming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarProduitOpp.Type_de_produit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Promogaming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopRayonList</targetReference>
            </connector>
            <label>Promogaming</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_Valide</name>
        <label>Input Valide</label>
        <locationX>1903</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Get_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Input valides</defaultConnectorLabel>
        <rules>
            <name>Format_Non_Valide_Retail_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormatNonValide</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajouter_des_Produits_Opp</targetReference>
            </connector>
            <label>Format Non Valide Retail Media</label>
        </rules>
        <rules>
            <name>Enseignesnonrenseignees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RT_Opportunity.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Extension_Audience</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RT_Opportunity.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Autres</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEnseignesNonVides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajouter_des_Produits_Opp</targetReference>
            </connector>
            <label>Enseignes non renseignées</label>
        </rules>
        <rules>
            <name>Inputs_Promogaming_non_remplis</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>VarProduitOpp.TypePromogaming__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>rayonList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarProduitOpp.Type_de_produit__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Promogaming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckEnseignesNonVides</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ajouter_des_Produits_Opp</targetReference>
            </connector>
            <label>Inputs Promogaming non remplis</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_de_Produit</name>
        <label>Type de Produit</label>
        <locationX>1463</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de mapping</defaultConnectorLabel>
        <rules>
            <name>Outcome_Generosite_Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Existants.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generosite</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProduitGenerositeExiste</targetReference>
            </connector>
            <label>Générosité</label>
        </rules>
        <rules>
            <name>Outcome_Media_Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Existants.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais_de_media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProduitMediaExiste</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Outcome_Setup_Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Existants.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais_de_setup</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProduitSetupExiste</targetReference>
            </connector>
            <label>Setup</label>
        </rules>
        <rules>
            <name>Outcome_Gestion_Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Existants.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais de Gestion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProduitGestionExiste</targetReference>
            </connector>
            <label>Gestion</label>
        </rules>
        <rules>
            <name>Outcome_Performance_Existant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Existants.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais_de_performance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProduitPerformanceExiste</targetReference>
            </connector>
            <label>Performance</label>
        </rules>
    </decisions>
    <description>Permet aux utilisateurs (Sales) d&apos;ajouter des produits d&apos;opportunité (lignes de devis) à une opportunité. Deux process sont différenciés : l&apos;ajout de produit d&apos;opportunité sur une opportunité de type Promotion Personnalisée et l&apos;ajout de produit d&apos;opportunité sur une opportunité d&apos;un autre type.
L&apos;écran Produits d&apos;opportunité Promo Perso permet de renseigner les 5 produits possibles d&apos;un seul coup. Il n&apos;est pas possible de créer plusieurs produits d&apos;opportunité du même type pour la Promo Perso
L&apos;écran Produit d&apos;opportunité Hors Promo Perso permet d&apos;insérer un produit d&apos;opportunité à la fois, et propose d&apos;en recréer un autre à la création du précédent.</description>
    <dynamicChoiceSets>
        <name>Rayon</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rayon__c</picklistField>
        <picklistObject>Product__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypePromogaming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TypePromogaming__c</picklistField>
        <picklistObject>Product__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Univers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Univers__c</picklistField>
        <picklistObject>Product__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CheckEnseignesNonVides</name>
        <dataType>Boolean</dataType>
        <expression>OR( INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Casino&apos;),
INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Franprix&apos;),
INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Monoprix&apos;),
INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Cmax&apos;),
INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Casinofr&apos;),
INCLUDES({!VarProduitOpp.Enseignes__c},&apos;Intermarche&apos;))</expression>
    </formulas>
    <formulas>
        <name>DefaultEndDatePromoPerso</name>
        <dataType>Date</dataType>
        <expression>If(NOT(ISBLANK({!Date_de_fin})), {!Date_de_fin}, {!VarOppFraisDeGenerosite.EndDate__c})</expression>
    </formulas>
    <formulas>
        <name>DefaultStartDatePromoPerso</name>
        <dataType>Date</dataType>
        <expression>If(NOT(ISBLANK({!Date_de_debut})), {!Date_de_debut}, {!VarOppFraisDeGenerosite.StartDate__c})</expression>
    </formulas>
    <formulas>
        <name>FormatNonValide</name>
        <dataType>Boolean</dataType>
        <expression>INCLUDES({!VarProduitOpp.Format__c}, &quot;Quadriptyque&quot;) &amp;&amp; PICKLISTCOUNT({!VarProduitOpp.Format__c})&gt;0 &amp;&amp;  ISPICKVAL({!VarProduitOpp.Type_de_produit__c}, &quot;Retail_Media_OnSite&quot;)</expression>
    </formulas>
    <formulas>
        <name>TotalFraisDeGestion</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Remise_appliqueeFraisDeGestion})) , 
{!Nb_de_couponsFraisdeGestion} * {!Prix_UnitaireFraisDeGestion} * ( 1 - ({!Remise_appliqueeFraisDeGestion}/100)) , 
{!Nb_de_couponsFraisdeGestion} * {!Prix_UnitaireFraisDeGestion} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalFraisDeMedia</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!RemiseAppliqueeFraisdeMedia})) , 
{!VolumeFraisDeMedia} * {!Prix_UnitaireFraisdeMedia} * (1 - ({!RemiseAppliqueeFraisdeMedia}/100)) , 
{!VolumeFraisDeMedia} * {!Prix_UnitaireFraisdeMedia} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalFraisDePerformance</name>
        <dataType>Number</dataType>
        <expression>({!TotalGenerosite} * {!Frais_de_performance})/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalFraisDeSetup</name>
        <dataType>Number</dataType>
        <expression>IF(NOT(ISBLANK({!Remise_appliqueeFraisdeSetup})), 
{!VolumeFraisDeSetup} * {!Prix_UnitaireFraisDeSetup} * (1- ({!Remise_appliqueeFraisdeSetup}/100)) , {!VolumeFraisDeSetup} * {!Prix_UnitaireFraisDeSetup} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalGenerosite</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Generosite}), {!VarOppFraisDeGenerosite.Montant__c}, {!Generosite})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalPromoPersoCalcul</name>
        <dataType>Number</dataType>
        <expression>IF (NOT(ISBLANK({!TotalFraisDeGestion})), {!TotalFraisDeGestion}, IF(NOT(ISBLANK({!VarOppFraisDeGestion.Total__c})), {!VarOppFraisDeGestion.Total__c} , 0))
+ IF (NOT(ISBLANK({!TotalFraisDeMedia} )), {!TotalFraisDeMedia},IF(NOT(ISBLANK({!VarOppFraisDeMedia.Total__c})), {!VarOppFraisDeMedia.Total__c}, 0))
+  IF (NOT(ISBLANK({!TotalFraisDePerformance} )), {!TotalFraisDePerformance}, IF(NOT(ISBLANK({!VarOppFraisDePerformance.Total__c})), {!VarOppFraisDePerformance.Total__c}, 0))

+ IF ( NOT(ISBLANK({!TotalGenerosite} )), {!TotalGenerosite},IF(NOT(ISBLANK({!VarOppFraisDeGenerosite.Total__c})),{!VarOppFraisDeGenerosite.Total__c},0 ))
+ IF(NOT(ISBLANK({!TotalFraisDeSetup})), {!TotalFraisDeSetup}, IF(NOT(ISBLANK({!VarOppFraisdeSetup.Total__c})), {!VarOppFraisdeSetup.Total__c},0) )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Ajouter des Produits d&apos;opportunité - ScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ajouter des Produits d&apos;opportunité - ScreenFlow</label>
    <loops>
        <name>Loop_Produits_Opps_Existants</name>
        <label>Loop_Produits_Opps_Existants</label>
        <locationX>715</locationX>
        <locationY>890</locationY>
        <collectionReference>GetProduitsOppExistants</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Type_de_Produit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetAllProductsPromoPerso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProduitsOppPromoPerso</name>
        <label>LoopProduitsOppPromoPerso</label>
        <locationX>825</locationX>
        <locationY>3854</locationY>
        <collectionReference>CollectionProduitsOppPromoPerso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProductPromoPerso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateProduitsOppPromoPerso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRayonList</name>
        <label>LoopRayonList</label>
        <locationX>2277</locationX>
        <locationY>1430</locationY>
        <collectionReference>rayonList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignementDummyCategorieReserveeProduit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCollectionCategorieReserveeProduit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LooptoAssignProducttoProductOpp</name>
        <label>LooptoAssignProducttoProductOpp</label>
        <locationX>1001</locationX>
        <locationY>4070</locationY>
        <collectionReference>ProductPromoPerso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignProduitOpp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Produits_d_Opportunit</name>
        <label>Create Produits d&apos;Opportunité</label>
        <locationX>2409</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>DecisionPromogaming</targetReference>
        </connector>
        <inputReference>VarProduitOpp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCollectionCategorieReserveeProduit</name>
        <label>CreateCollectionCategorieReserveeProduit</label>
        <locationX>2277</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Assignement_Blank_Var_Produit_Opp</targetReference>
        </connector>
        <inputReference>CollectionCategorieReserveeProduits</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateProduitsOppPromoPerso</name>
        <label>CreateProduitsOppPromoPerso</label>
        <locationX>825</locationX>
        <locationY>4670</locationY>
        <inputReference>Collection_ProductOpp_Creation_Final</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>1309</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_RT_ProduitOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product</name>
        <label>Get Product</label>
        <locationX>2409</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignement_Var_Produit_d_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_de_produit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProduitOpp.Type_de_produit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Opportunity</name>
        <label>Get RT Opportunity</label>
        <locationX>1903</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ajouter_des_Produits_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_Product</name>
        <label>Get RT Product</label>
        <locationX>715</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Promo_Perso2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotion_Personnalisee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RT_ProduitOpp</name>
        <label>GET RT ProduitOpp</label>
        <locationX>1309</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignementRecordTypeonOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllProductsPromoPerso</name>
        <label>GetProductsPromoPerso</label>
        <locationX>715</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_Product</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Générosité</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frais de setup</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frais de gestion</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frais de performance</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frais de média</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProduitsOppExistants</name>
        <label>GetProduitsOppExistants</label>
        <locationX>715</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Produits_Opps_Existants</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Ajouter_des_Produits_Opp</name>
        <label>Ajouter des Produits d&apos;opportunité - Hors promo Perso</label>
        <locationX>1903</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Input_Valide</targetReference>
        </connector>
        <fields>
            <name>MessageErreurFormatNonValide</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 10, 10);&quot;&gt;Le format &quot;Quadriptyque&quot; nécessite la création d&apos;un produit d&apos;opportunité séparé.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>FormatNonValide</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChampsPromogamingObligatoires</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(238, 10, 10);&quot;&gt;Les champs Type Promogaming et Catégorie réservée sont obligatoires. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Inputs_Promogaming_non_remplis</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DsiplayText_Enseignes_obligatoires</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Le champ Enseignes est obligatoire pour ce type de produit.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Enseignesnonrenseignees</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Informations_principales</name>
            <fieldText>Informations principales</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_principales_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.Type_de_produit__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.PricingModel__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Date_de_d_but</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_de_d_but</elementReference>
                    </defaultValue>
                    <fieldText>Date de début</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_de_fin2</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Date_de_fin2</elementReference>
                    </defaultValue>
                    <fieldText>Date de fin</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La date de fin doit être supérieure à la date de début. &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_de_fin2}&gt;{!Date_de_d_but}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_principales_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.Enseignes__c</objectFieldReference>
                </fields>
                <fields>
                    <name>HelpTextEnseignes</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 12px; color: rgb(237, 3, 3);&quot;&gt;Veuillez laisser le champ Enseignes vide s&apos;il n&apos;y a pas de redirection vers des enseignes spécifiques.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_RT_Opportunity.Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Autres</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_RT_Opportunity.DeveloperName</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Extension_Audience</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>VarProduitOpp.Format__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarProduitOpp.Type_de_produit__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Retail_Media_OnSite</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Details_Prix</name>
            <fieldText>Détails Prix</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Prix_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarProduitOpp.PricingModel__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Montant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Prix</name>
                    <dataType>Currency</dataType>
                    <fieldText>Prix Unitaire (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarProduitOpp.PricingModel__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Montant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MontantAutre</name>
                    <dataType>Currency</dataType>
                    <fieldText>Montant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarProduitOpp.PricingModel__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Montant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_Prix_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remise_appliquee</name>
                    <dataType>Number</dataType>
                    <fieldText>Remise appliquée (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarProduitOpp.PricingModel__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Montant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.Offert__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarProduitOpp.PricingModel__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Montant</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Informations_Promogaming</name>
            <fieldText>Informations Promogaming</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Informations_Promogaming_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarProduitOpp.TypePromogaming__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Informations_Promogaming_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>categorie_request</name>
                    <extensionName>c:categorie_request</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SampleRayon</assignToReference>
                        <name>selectedraonIdListuni</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>abc</assignToReference>
                        <name>selectedIdList</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>rayonList</assignToReference>
                        <name>selectedraonIdList</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarProduitOpp.RecordType.DeveloperName</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Promogaming</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ButtonAjoutProduitOpp</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Ajouter ce produit et créer un autre, Ajouter ce produit et quitter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>Blue,Green</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Promo_Perso2</name>
        <label>Promo Perso</label>
        <locationX>715</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_Calculer</targetReference>
        </connector>
        <fields>
            <name>ProduitsdejaExistants</name>
            <fieldText>&lt;p&gt;Tous les produits de la Promo Perso ont déjà été ajoutés. Vous pouvez les modifier directement sur les pages de produits d&apos;opportunité. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PromoPerso</name>
            <fieldText>&lt;p&gt;Veuillez renseigner les informations liées aux produits Promotion Personnalisée. Si le montant total est nul, le produit d&apos;opportunité ne sera pas créé.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Promo_Perso2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Promo_Perso2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_debut</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultStartDatePromoPerso</elementReference>
                    </defaultValue>
                    <fieldText>Date de début</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Promo_Perso2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_de_fin</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>DefaultEndDatePromoPerso</elementReference>
                    </defaultValue>
                    <fieldText>Date de fin</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;La date de fin doit être supérieure à la date de début. &lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Date_de_fin}&gt;{!Date_de_debut}</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Generosite3</name>
            <fieldText>Générosité</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Generosite3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Generosite</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Generosite</elementReference>
                    </defaultValue>
                    <fieldText>Générosité (€)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generosite3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarOppFraisDeGenerosite.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Generosite3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MontantGenerosite</name>
                    <fieldText>&lt;p&gt;Montant de la Générosité = &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalGenerosite}€&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraisdeperformance2</name>
            <fieldText>Frais de performance</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraisdeperformance2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Frais_de_performance</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Frais_de_performance</elementReference>
                    </defaultValue>
                    <fieldText>Frais de performance (% de la générosité)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraisdeperformance2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarOppFraisDePerformance.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraisdeperformance2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FraisDePerformance</name>
                    <fieldText>&lt;p&gt;Montant total Frais de Performance = &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalFraisDePerformance} €&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FraisdePerfCalcul</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 9px;&quot;&gt;Affiché automatiquement après calcul&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TotalFraisDePerformance</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fraisdegestion2</name>
            <fieldText>Frais de gestion</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fraisdegestion2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nb_de_couponsFraisdeGestion</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Nb_de_couponsFraisdeGestion</elementReference>
                    </defaultValue>
                    <fieldText>Nb de coupons</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Le Nb de coupons et le prix unitaire sont obligatoires pour calculer les frais de gestion.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!Nb_de_couponsFraisdeGestion})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeGestion}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Prix_UnitaireFraisDeGestion</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Prix_UnitaireFraisDeGestion</elementReference>
                    </defaultValue>
                    <fieldText>Prix Unitaire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Le Nb de coupons et le prix unitaire sont obligatoires pour calculer les frais de gestion. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!Nb_de_couponsFraisdeGestion})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeGestion}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraisdegestion2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarOppFraisDeGestion.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fraisdegestion2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remise_appliqueeFraisDeGestion</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Remise_appliqueeFraisDeGestion</elementReference>
                    </defaultValue>
                    <fieldText>Remise appliquée (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Le Nb de coupons et le prix unitaire sont obligatoires pour calculer les frais de gestion. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!Nb_de_couponsFraisdeGestion})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeGestion}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FraisDeGestion</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(160, 5, 5);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;Montant total Frais de gestion =   &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalFraisDeGestion} €&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FraisdeGestionCalcul</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 9px;&quot;&gt;Affiché automatiquement après calcul&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TotalFraisDeGestion</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FraisdeSetup2</name>
            <fieldText>Frais de Setup</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FraisdeSetup2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VolumeFraisDeSetup</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VolumeFraisDeSetup</elementReference>
                    </defaultValue>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de setup.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeSetup})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeSetup}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Prix_UnitaireFraisDeSetup</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Prix_UnitaireFraisDeSetup</elementReference>
                    </defaultValue>
                    <fieldText>Prix Unitaire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de Setup.&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeSetup})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeSetup}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FraisdeSetup2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarOppFraisdeSetup.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FraisdeSetup2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remise_appliqueeFraisdeSetup</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Remise_appliqueeFraisdeSetup</elementReference>
                    </defaultValue>
                    <fieldText>Remise appliquée (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de Setup.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeSetup})) , 
NOT(ISBLANK({!Prix_UnitaireFraisDeSetup}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FraisDeSetup</name>
                    <fieldText>&lt;p&gt;Montant total des Frais de Setup&amp;nbsp;= &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalFraisDeSetup} €&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FraisdeSetupCalcul</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 9px;&quot;&gt;Affiché automatiquement après calcul&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TotalFraisDeSetup</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FraisDeMedia2</name>
            <fieldText>Frais de Média</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FraisDeMedia2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VolumeFraisDeMedia</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>VolumeFraisDeMedia</elementReference>
                    </defaultValue>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de média. &lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeMedia})) , 
NOT(ISBLANK({!Prix_UnitaireFraisdeMedia}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Prix_UnitaireFraisdeMedia</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>Prix_UnitaireFraisdeMedia</elementReference>
                    </defaultValue>
                    <fieldText>Prix Unitaire</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de média. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeMedia})) , 
NOT(ISBLANK({!Prix_UnitaireFraisdeMedia}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FraisDeMedia2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VarOppFraisDeMedia.Description__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FraisDeMedia2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RemiseAppliqueeFraisdeMedia</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>RemiseAppliqueeFraisdeMedia</elementReference>
                    </defaultValue>
                    <fieldText>Remise Appliquée (%)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Le volume et le prix unitaire sont obligatoires pour calculer les frais de média. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND( NOT(ISBLANK({!VolumeFraisDeMedia})) , 
NOT(ISBLANK({!Prix_UnitaireFraisdeMedia}))
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>FraisDeMedia</name>
                    <fieldText>&lt;p&gt;Montant total Frais de Média = &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalFraisDeMedia} €&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FraisdeMediaCalcul</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 9px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Affiché automatiquement après calcul&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TotalFraisDeMedia</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Promo_Perso2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Promo_Perso2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Promo_Perso2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Promo_Perso2_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TotalPromoPerso</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Promotion Personnalisée&lt;/strong&gt; = &lt;strong style=&quot;color: rgb(160, 5, 5);&quot;&gt;{!TotalPromoPersoCalcul} €&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TotalGenerosite</leftValueReference>
                            <operator>NotEqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Boutton</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Calculer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>Blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>BoutonCalculer</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CreateProduitsOpp</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Créer les produits d&apos;opportunité</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>Green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeLine</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Bouton_Creer</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
                <conditions>
                    <leftValueReference>TotalGenerosite</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGenerosite.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeGestion.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDeMedia.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisdeSetup.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VarOppFraisDePerformance.Package__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>abc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Bouton_Creer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BoutonCalculer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Button</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Calculer</stringValue>
        </value>
    </variables>
    <variables>
        <name>ChampsPromogamingNonRemplis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Collection_ProductOpp_Creation_Final</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>Collection_Variable_Type_de_Produit</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>CollectionCategorieReserveeProduits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Categorie_reservee_produit__c</objectType>
    </variables>
    <variables>
        <name>CollectionProduitsOppPromoPerso</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Type_de_Produits</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_ProductPromoPerso_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>DummyCategorieReservee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Categorie_reservee__c</objectType>
    </variables>
    <variables>
        <name>DummyCategorieReserveeProduit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Categorie_reservee_produit__c</objectType>
    </variables>
    <variables>
        <name>Rayonid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rayonList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SampleRayon</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Categorie_reservee__c</objectType>
    </variables>
    <variables>
        <name>selectedIdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Categorie_reservee__c</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarBlankProduitOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarOppFraisDeGenerosite</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarOppFraisDeGestion</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarOppFraisDeMedia</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarOppFraisDePerformance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarOppFraisdeSetup</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>VarProduitOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
</Flow>
