force-app/main/default/flows/CaseAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Requete_non_creee</name>
        <label>Requête non créée</label>
        <locationX>1694</locationX>
        <locationY>4199</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notif_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Text_Requete_non_generee</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Text_title_requete_non_generees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Collection_Users</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Push_Mesure</name>
        <label>Send Push Mesure</label>
        <locationX>1562</locationX>
        <locationY>1511</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Decision_Check_Templates_existent_Case_Creation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notif_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Template_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>Push_Title</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>Collection_Mesure_Text</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Mesure_to_Collection</name>
        <label>Assign Mesure to Collection</label>
        <locationX>1650</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>Collection_Mesure_Text</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Equipe_Mesure.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Equipe_Mesure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_to_Collection</name>
        <label>Assign User to Collection</label>
        <locationX>1694</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>Collection_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Requete_non_creee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Blank_DummyTask</name>
        <label>Assignment Blank DummyTask</label>
        <locationX>2728</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>DummyTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Due_Date_Apres</name>
        <label>Assignment Due Date Après</label>
        <locationX>1914</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateApres_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Due_Date_Avant</name>
        <label>Assignment Due Date Avant</label>
        <locationX>1650</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateAvant_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Dummy_Tasks_Planifiees</name>
        <label>Assignment Dummy Tasks Planifiees</label>
        <locationX>2310</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planifiee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTaskPlanifiee_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTask</name>
        <label>Assignment DummyTask</label>
        <locationX>1782</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Titre_tache__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Priorite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Commentaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTask_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTask_to_Collection</name>
        <label>Assignment DummyTask to Collection</label>
        <locationX>1782</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>CollectionTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTaskPlanifiee_to_Collection</name>
        <label>Assignment DummyTaskPlanifiee to Collection</label>
        <locationX>2310</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>CollectionTachesplanifiees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyTaskPlanifiee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Task_to_Case_Owner</name>
        <label>Assignment Task to Case Owner</label>
        <locationX>1518</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Task_to_Mesure</name>
        <label>Assignment Task to Mesure</label>
        <locationX>1782</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Equipe_Mesure.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Tasks_to_CSM</name>
        <label>Assignment Tasks to CSM</label>
        <locationX>2046</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTask</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Push_Title</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Requête avec Mesure</stringValue>
        </value>
    </constants>
    <constants>
        <name>Text_Requete_non_generee</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Votre création de requête n&apos;a pas pu aboutir. Avez-vous bien assigné un CSM en charge sur l&apos;opportunité ?</stringValue>
        </value>
    </constants>
    <constants>
        <name>Text_title_requete_non_generees</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Requête non générée</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ByPass_Flow</name>
        <label>ByPass Flow</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks_Templates_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ByPass</defaultConnectorLabel>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS1_ByPass__c.ByPass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mesure_Incluse</name>
        <label>Mesure Incluse (EA/Mesure only) ?</label>
        <locationX>1694</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Decision_Check_Templates_existent_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de mesure</defaultConnectorLabel>
        <rules>
            <name>Mesureincluse</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mesure_incluse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension_Audience</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mesure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mesure_group</targetReference>
            </connector>
            <label>Mesure Incluse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Critere_Promogaming</name>
        <label>Critère Promogaming</label>
        <locationX>2310</locationX>
        <locationY>2207</locationY>
        <defaultConnector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conditions NOK</defaultConnectorLabel>
        <rules>
            <name>Promogaming8Conditions_OK_or_no_conditions</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Opportunite_Promogaming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_Produit_Opp__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Promogaming8Conditions_OK_or_no_conditions</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Promogaming_Monomarque_Multimarque__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_de_declencheur</targetReference>
            </connector>
            <label>Conditions OK or no conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Avant_Apres</name>
        <label>Avant Après</label>
        <locationX>1782</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Assignment_Due_Date_Apres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Après</defaultConnectorLabel>
        <rules>
            <name>Choice_Avant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Avant_Apres__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Due_Date_Avant</targetReference>
            </connector>
            <label>Avant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_Templates_existent_Case_Creation</name>
        <label>Check Templates existent Case Creation</label>
        <locationX>1694</locationX>
        <locationY>1727</locationY>
        <defaultConnectorLabel>No Templates</defaultConnectorLabel>
        <rules>
            <name>Templates_existent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks_Templates_Case_Creation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Tasks_Templates</targetReference>
            </connector>
            <label>Templates existent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Produit_Mesure</name>
        <label>Nécessite Produit Mesure</label>
        <locationX>2530</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de produit mesure</defaultConnectorLabel>
        <rules>
            <name>Mesure_Conditions_OK_or_No_Conditions</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Mesure_incluse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mesure_incluse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Mesure_incluse__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Critere_Promogaming</targetReference>
            </connector>
            <label>Conditions OK or No Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_Owner</name>
        <label>Tasks Owner</label>
        <locationX>1782</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Assignment_Tasks_to_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSM en charge</defaultConnectorLabel>
        <rules>
            <name>Case_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Assigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Task_to_Case_Owner</targetReference>
            </connector>
            <label>Case Owner</label>
        </rules>
        <rules>
            <name>Equipe_mesure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Assigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipe Mesure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Task_to_Mesure</targetReference>
            </connector>
            <label>Equipe mesure</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enseignes_necessaires</name>
        <label>Enseignes nécessaires</label>
        <locationX>2728</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conditions NOK</defaultConnectorLabel>
        <rules>
            <name>Enseignes_Conditions_OK_ou_No_Conditions</name>
            <conditionLogic>(1 AND (2 OR 3)) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Enseignes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Enseignes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Tasks_Templates.Enseignes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Enseignes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Enseignes__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Enseignes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Produit_Mesure</targetReference>
            </connector>
            <label>Conditions OK ou No Conditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_de_declencheur</name>
        <label>Type de déclencheur</label>
        <locationX>2046</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Assignment_Dummy_Tasks_Planifiees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tâches planifiées</defaultConnectorLabel>
        <rules>
            <name>Creation_de_la_requete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Declencheur__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Creation_Requete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Avant_Apres</targetReference>
            </connector>
            <label>Création de la requête</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDateApres_FORM</name>
        <dataType>Date</dataType>
        <expression>{!EventDate_FORM} + {!Loop_Tasks_Templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>DueDateAvant_FORM</name>
        <dataType>Date</dataType>
        <expression>{!EventDate_FORM} - {!Loop_Tasks_Templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>EventDate_FORM</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Loop_Tasks_Templates.Evenement__c})= &apos;Requete_Date_Debut_Campagne&apos;, {!$Record.StartDate__c}, {!$Record.EndDate__c})</expression>
    </formulas>
    <interviewLabel>CaseAfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseAfterInsert</label>
    <loops>
        <name>Loop_Equipe_Mesure</name>
        <label>Loop_Equipe_Mesure</label>
        <locationX>1562</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Mesure_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Custom_Notif_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks_Templates</name>
        <label>Loop Tasks Templates</label>
        <locationX>1430</locationX>
        <locationY>1847</locationY>
        <collectionReference>Get_Tasks_Templates_Case_Creation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Enseignes_necessaires</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_TasksCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tache_planifiees</name>
        <label>Create Tâche planifiees</label>
        <locationX>1430</locationX>
        <locationY>4079</locationY>
        <inputReference>CollectionTachesplanifiees</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_TasksCollection</name>
        <label>Create TasksCollection</label>
        <locationX>1430</locationX>
        <locationY>3959</locationY>
        <connector>
            <targetReference>Create_Tache_planifiees</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_User_to_Collection</targetReference>
        </faultConnector>
        <inputReference>CollectionTasksToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Custom_Notif_Id</name>
        <label>Get Custom Notif Id</label>
        <locationX>1562</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Push_Mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Equipe_Mesure</name>
        <label>Get Equipe Mesure</label>
        <locationX>1694</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Mesure_Incluse</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Email_Equipe_Mesure</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>1562</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Equipe_Mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Mesure_group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mesure_group</name>
        <label>Get Mesure group</label>
        <locationX>1562</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mesure</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Templates_Case_Creation</name>
        <label>Get Tasks Templates Case Creation</label>
        <locationX>1694</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Equipe_Mesure</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Objet__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_enregistrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creation_Requete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debut_Campagne</stringValue>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fin_campagne</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ByPass_Flow</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Template_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Une requête créée contient un produit Mesure</text>
    </textTemplates>
    <variables>
        <name>BlankTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Collection_Mesure</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Collection_Mesure_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Users</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionTachesplanifiees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tache_Planifiee__c</objectType>
    </variables>
    <variables>
        <name>CollectionTasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_filter_to_Tasks_planifiees_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TacheTemplate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filters_tasks_on_creation_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TacheTemplate__c</objectType>
    </variables>
    <variables>
        <name>DummyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>DummyTaskPlanifiee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tache_Planifiee__c</objectType>
    </variables>
</Flow>
