force-app/main/default/flows/CaseAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Action_trigger</name>
        <label>Action trigger</label>
        <locationX>440</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bilan_intermediaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demande_de_bilan_intermediaire__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Demande_de_bilan_intermediaire__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task</targetReference>
            </connector>
            <label>Bilan intermédiaire</label>
        </rules>
        <rules>
            <name>Dates_campagnes_updatees</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_other_cases_date_de_fin</targetReference>
            </connector>
            <label>Dates campagnes updatees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_flow</name>
        <label>Bypass flow</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Action_trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de bypass</defaultConnectorLabel>
        <rules>
            <name>Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS1_ByPass__c.ByPass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass</label>
        </rules>
    </decisions>
    <formulas>
        <name>Datebutoirtaskbilan</name>
        <dataType>Date</dataType>
        <expression>{!$Record.StartDate__c} +3</expression>
    </formulas>
    <interviewLabel>CaseAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseAfterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_task</name>
        <label>Create task</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Datebutoirtaskbilan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CSMenCharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>bodytaskbilan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_other_cases_date_de_fin</name>
        <label>Get other cases date de fin</label>
        <locationX>440</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_other_cases_date_debut</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OI_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OI_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>EndDate__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_other_cases_date_debut</name>
        <label>Get other cases date début</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_with_new_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OI_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OI_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>StartDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_with_new_values</name>
        <label>Update Opp with new values</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OI_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EndDate__c</field>
            <value>
                <elementReference>Get_other_cases_date_de_fin.EndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate__c</field>
            <value>
                <elementReference>Get_other_cases_date_debut.StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_flow</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodytaskbilan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Demander bilan intermédiaire et envoyer au client</text>
    </textTemplates>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
