force-app/main/default/flows/OpportunityAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignement_blank_dummy_task</name>
        <label>Assignement blank dummy task</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>Dummytask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_task_templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Collection_Tasks</name>
        <label>Assignement Collection Tasks</label>
        <locationX>270</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Collectiontasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Dummytask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_blank_dummy_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Due_Date_Apres</name>
        <label>Assignement Due Date Après</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Dummytask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateApres_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_Dummy_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Due_Date_Avant</name>
        <label>Assignement Due Date Avant</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Dummytask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateAvant_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_Dummy_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Dummy_task</name>
        <label>Assignement Dummy task</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Dummytask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_task_templates.Titre_tache__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_task_templates.Priorite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_task_templates.Commentaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_task_templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Dummytask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_Collection_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Avant_Apres</name>
        <label>Decision Avant Après</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Assignement_Due_Date_Apres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Après</defaultConnectorLabel>
        <rules>
            <name>Avant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_task_templates.Avant_Apres__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_Due_Date_Avant</targetReference>
            </connector>
            <label>Avant</label>
        </rules>
    </decisions>
    <decisions>
        <name>TemplatesExist</name>
        <label>TemplatesExist</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No Task Templates</defaultConnectorLabel>
        <rules>
            <name>Task_Templates_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Templates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_task_templates</targetReference>
            </connector>
            <label>Task Templates Exist</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDateApres_FORM</name>
        <dataType>Date</dataType>
        <expression>{!Event_Date_FORM} + {!Loop_task_templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>DueDateAvant_FORM</name>
        <dataType>Date</dataType>
        <expression>{!Event_Date_FORM} - {!Loop_task_templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>Event_Date_FORM</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Loop_task_templates.Evenement__c})= &apos;Opportunite_Date_Debut_Campagne&apos;, {!$Record.CampaignStartDate__c},
IF(TEXT({!Loop_task_templates.Evenement__c})= &apos;Opportunite_Date_Fin_Campagne&apos;, {!$Record.CampaignEndDate__c},
DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <interviewLabel>OpportunityAfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityAfterInsert</label>
    <loops>
        <name>Loop_task_templates</name>
        <label>Loop task templates</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Task_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Avant_Apres</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputReference>Collectiontasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Task_Templates</name>
        <label>Get Task Templates</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TemplatesExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_enregistrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objet__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Creation_Opportunite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Templates</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Collectiontasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Dummytask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
