force-app/main/default/flows/OpportunityAfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignation_Collection_Filter_Monomarque</name>
        <label>Assignation Collection Filter Monomarque</label>
        <locationX>669</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Collection_Tasks_Templates_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Filter_Monomarque</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_Collection_Filter_Multimarques</name>
        <label>Assignation Collection Filter Multimarques</label>
        <locationX>405</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Collection_Tasks_Templates_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Filter_Multimarques</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Collection_Tasks</name>
        <label>Assignement_Collection_Tasks</label>
        <locationX>889</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>CollectionTasksToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignementDummyTask</name>
        <label>AssignementDummyTask</label>
        <locationX>889</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Titre_tache__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Priorite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Commentaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTask.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Tasks_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignement_Collection_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Blank_DummyTask</name>
        <label>Assignment Blank DummyTask</label>
        <locationX>889</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>DummyTask</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Collection_Tasks_to_update</name>
        <label>Assignment_Collection_Tasks_to_update</label>
        <locationX>757</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Collection_Tasks_to_update_owner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Tasks_to_reassign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks_to_reassign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Due_Date_Apres</name>
        <label>Assignment_Due_Date_Après</label>
        <locationX>1021</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateApres_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Due_Date_Avant</name>
        <label>Assignment_Due_Date_Avant</label>
        <locationX>757</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDateAvant_FORM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Task_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTask_Owner_CSM</name>
        <label>Assignment DummyTask Owner CSM</label>
        <locationX>1021</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignementDummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTask_Owner_Opp</name>
        <label>Assignment_DummyTask_Owner_Opp</label>
        <locationX>757</locationX>
        <locationY>2687</locationY>
        <assignmentItems>
            <assignToReference>DummyTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignementDummyTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_new_owner_Task</name>
        <label>Assignment_new_owner_Task</label>
        <locationX>757</locationX>
        <locationY>743</locationY>
        <assignmentItems>
            <assignToReference>Loop_Tasks_to_reassign.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Collection_Tasks_to_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Tasks_Templates_Assignation_CSM_to_Collection_VAR</name>
        <label>Assignment Tasks Templates Assignation CSM to Collection VAR</label>
        <locationX>53</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Collection_Tasks_Templates_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tasks_Templates_Assignation_CSM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_Opportunite</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Tasks_Templates_OI_Signe_to_Collection_VAR</name>
        <label>Assignment_Tasks_Templates_OI_Signe_to_Collection_VAR</label>
        <locationX>317</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Collection_Tasks_Templates_VAR</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tasks_Templates_Stage_Signe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Type_Opportunite</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_Monomarque</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection_Filter_Monomarque</label>
        <locationX>669</locationX>
        <locationY>1535</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_Monomarque</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection_Tasks_Templates_VAR</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Monomarque.Promogaming_Monomarque_Multimarque__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Monomarque</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Monomarque.Promogaming_Monomarque_Multimarque__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignation_Collection_Filter_Monomarque</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collection_Filter_Multimarques</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter Multimarques</label>
        <locationX>405</locationX>
        <locationY>1535</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_Multimarques</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection_Tasks_Templates_VAR</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Multimarques.Promogaming_Monomarque_Multimarque__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Multimarques</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Multimarques.Promogaming_Monomarque_Multimarque__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignation_Collection_Filter_Multimarques</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_si_tasks_ouvertes</name>
        <label>Check si tasks ouvertes</label>
        <locationX>1021</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Delete_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tasks existantes</defaultConnectorLabel>
        <rules>
            <name>Pas_de_taches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Pas de tâches</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Avant_Apres</name>
        <label>Avant Après</label>
        <locationX>889</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Assignment_Due_Date_Apres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Après</defaultConnectorLabel>
        <rules>
            <name>Choice_Avant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Avant_Apres__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Avant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Due_Date_Avant</targetReference>
            </connector>
            <label>Avant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opportunite_Frais_graphiques_inclus</name>
        <label>Check Opportunité Frais graphiques inclus</label>
        <locationX>1087</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Assignment_Blank_DummyTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de frais graphiques</defaultConnectorLabel>
        <rules>
            <name>Frais_graphiques_inclus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TECH_FraisGraphiques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Avant_Apres</targetReference>
            </connector>
            <label>Frais graphiques inclus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Task_Owner</name>
        <label>Task Owner ?</label>
        <locationX>889</locationX>
        <locationY>2567</locationY>
        <defaultConnector>
            <targetReference>Assignment_DummyTask_Owner_CSM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSM en charge</defaultConnectorLabel>
        <rules>
            <name>Choice_Opportunity_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Assigne__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_DummyTask_Owner_Opp</targetReference>
            </connector>
            <label>Opportunity Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Template_necessite_Frais_Graphiques</name>
        <label>Template nécessite Frais Graphiques</label>
        <locationX>1318</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Decision_Avant_Apres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Frais Graphiques non nécessaires</defaultConnectorLabel>
        <rules>
            <name>Choice_Frais_graphiques_necessaires</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tasks_Templates.Frais_Graphiques_inclus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Opportunite_Frais_graphiques_inclus</targetReference>
            </connector>
            <label>Frais graphiques nécessaires</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Trigger_Action</name>
        <label>Trigger Action</label>
        <locationX>669</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>CSM_renseigne</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSMenCharge__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CSMenCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_Templates_Assignation_CSM</targetReference>
            </connector>
            <label>CSM renseigné</label>
        </rules>
        <rules>
            <name>Choice_Status_Signe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_Templates_Stage_Signe</targetReference>
            </connector>
            <label>Passage à &quot;Signé&quot;</label>
        </rules>
        <rules>
            <name>CSM_modifie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CSMenCharge__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CSMenCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CSMenCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tasks_to_Reassign</targetReference>
            </connector>
            <label>CSM modifié</label>
        </rules>
        <rules>
            <name>Opportunit_cloturee</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clôturé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Clôturé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposition perdue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Proposition perdue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Tasks</targetReference>
            </connector>
            <label>Opportunité clôturée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Type_Opportunite</name>
        <label>Type d&apos;opportunité</label>
        <locationX>669</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Loop_Tasks_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autres que Promogaming</defaultConnectorLabel>
        <rules>
            <name>Choice_Promogaming_Multimarques</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_Mono_Multimarques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Multimarques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Filter_Multimarques</targetReference>
            </connector>
            <label>Promogaming Multimarques</label>
        </rules>
        <rules>
            <name>Choice_PromogramingMonomarque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_Mono_Multimarques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monomarque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Filter_Monomarque</targetReference>
            </connector>
            <label>Promogaming Monomarque</label>
        </rules>
    </decisions>
    <formulas>
        <name>DueDateApres_FORM</name>
        <dataType>Date</dataType>
        <expression>{!Event_Date_FORM} + {!Loop_Tasks_Templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>DueDateAvant_FORM</name>
        <dataType>Date</dataType>
        <expression>{!Event_Date_FORM} - {!Loop_Tasks_Templates.Nombre_Jours__c}</expression>
    </formulas>
    <formulas>
        <name>Event_Date_FORM</name>
        <dataType>Date</dataType>
        <expression>IF(TEXT({!Loop_Tasks_Templates.Evenement__c})= &apos;Opportunite_Date_Debut_Campagne&apos;, {!$Record.CampaignStartDate__c},
IF(TEXT({!Loop_Tasks_Templates.Evenement__c})= &apos;Opportunite_Date_Fin_Campagne&apos;, {!$Record.CampaignEndDate__c},
DATEVALUE({!$Record.CreatedDate})))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>OpportunityAfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityAfterUpdate</label>
    <loops>
        <name>Loop_Tasks_Templates</name>
        <label>Loop Tasks Templates</label>
        <locationX>669</locationX>
        <locationY>1871</locationY>
        <collectionReference>Collection_Tasks_Templates_VAR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Template_necessite_Frais_Graphiques</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateTasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks_to_reassign</name>
        <label>Loop Tasks to Reassign</label>
        <locationX>669</locationX>
        <locationY>623</locationY>
        <collectionReference>Get_Tasks_to_Reassign</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_new_owner_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks_to_reassign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTasks</name>
        <label>Create_Tasks</label>
        <locationX>669</locationX>
        <locationY>3551</locationY>
        <inputReference>CollectionTasksToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>1021</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Open_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Open_Tasks</name>
        <label>Get Open Tasks</label>
        <locationX>1021</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_si_tasks_ouvertes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Templates_Assignation_CSM</name>
        <label>Get Tasks Templates Assignation CSM</label>
        <locationX>53</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Tasks_Templates_Assignation_CSM_to_Collection_VAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type_enregistrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Objet__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Assignation_CSM</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Templates_Stage_Signe</name>
        <label>Get Tasks Templates Stage Signé</label>
        <locationX>317</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Tasks_Templates_OI_Signe_to_Collection_VAR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passage_Signe</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_enregistrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_to_Reassign</name>
        <label>Get Tasks to Reassign</label>
        <locationX>669</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tasks_to_reassign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.CSMenCharge__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tasks_to_reassign</name>
        <label>Update_Tasks_to_reassign</label>
        <locationX>669</locationX>
        <locationY>1079</locationY>
        <inputReference>Collection_Tasks_to_update_owner</inputReference>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Decision_Trigger_Action</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>Check_Date_Debug</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Tasks_Templates_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TacheTemplate__c</objectType>
    </variables>
    <variables>
        <name>Collection_Tasks_to_update_owner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CollectionTasksToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Monomarque</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TacheTemplate__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Multimarques</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TacheTemplate__c</objectType>
    </variables>
    <variables>
        <name>Debug_Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DummyTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
