force-app/main/default/flows/ProduitOpportuniteAfterInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Parsed_MSP_Enseignes_Opp</name>
        <label>Get Parsed MSP Enseignes Opp</label>
        <locationX>1458</locationX>
        <locationY>1175</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Values_Multiselect</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Get_Related_Opportunity.Enseignes__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Collection_MSP_Enseignes_Opps</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Parsed_MSP_Enseignes_PO</name>
        <label>Get Parsed MSP Enseignes PO</label>
        <locationX>1458</locationX>
        <locationY>1055</locationY>
        <actionName>MultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Parsed_MSP_Enseignes_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>$Record.Enseignes__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Collection_MSP_Enseignes_PO_Text</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assignation_Opp_Promogaming_Monomarque</name>
        <label>Assignation Opp Promogaming Monomarque</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Tech_Mono_Multimarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monomarque</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parsed_MSP_Enseignes_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignation_Opp_Promogaming_Multimarques</name>
        <label>Assignation Opp Promogaming Multimarques</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Tech_Mono_Multimarques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Multimarques</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parsed_MSP_Enseignes_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignement_Opp_frais_graphique</name>
        <label>Assignement Opp frais graphique</label>
        <locationX>1458</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Tech_FraisGraphiques__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parsed_MSP_Enseignes_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_Enseignes_in_Collection_Filtered</name>
        <label>Assignment Count Enseignes in Collection Filtered</label>
        <locationX>1678</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CountItem</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collection_Filter_Enseignes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Enseigne_already_selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Date_de_debut_et_fin</name>
        <label>Assignment Date de début et fin</label>
        <locationX>1150</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taches_planifiees_creees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTaskPlanifiee</name>
        <label>Assignment DummyTaskPlanifiée</label>
        <locationX>1106</locationX>
        <locationY>2879</locationY>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Task_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Related_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyTaskPlanifiee.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planifiee</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_DummyTasksPlanifiees_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyTasksPlanifiees_to_Collection</name>
        <label>Assignment DummyTasksPlanifiees to Collection</label>
        <locationX>1106</locationX>
        <locationY>2999</locationY>
        <assignmentItems>
            <assignToReference>CollectionTasksPlanifiees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyTaskPlanifiee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Enseigne</name>
        <label>Assignment Enseigne</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Enseignes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intermarche</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Check_dates_campagne_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_New_Enseigne_Opp</name>
        <label>Assignment New Enseigne Opp</label>
        <locationX>1546</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Enseignes__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Loop_Values_Multiselect</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Values_Multiselect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Opp_Dates_Campagne_Date_debut</name>
        <label>Assignment Opp Dates Campagne Date début</label>
        <locationX>622</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taches_planifiees_creees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Opp_Dates_Campagne_Date_fin</name>
        <label>Assignment Opp Dates Campagne Date fin</label>
        <locationX>886</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taches_planifiees_creees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Opp_Dates_Campagne_null</name>
        <label>Assignment Opp Dates Campagne null</label>
        <locationX>358</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.CampaignEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Taches_planifiees_creees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Opp_Mesure_incluse</name>
        <label>Assignment Opp Mesure incluse</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Mesure_incluse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parsed_MSP_Enseignes_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Task_Planifiees_creees</name>
        <label>Assignment Task Planifiées créées</label>
        <locationX>1018</locationX>
        <locationY>3335</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Opportunity.Taches_planifiees_creees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_Enseignes</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter Enseignes</label>
        <locationX>1678</locationX>
        <locationY>1415</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_Enseignes</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Collection_MSP_Enseignes_Opps</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Enseignes</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Loop_Values_Multiselect</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Count_Enseignes_in_Collection_Filtered</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>NullConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>[]</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Action_Trigger</name>
        <label>Action Trigger</label>
        <locationX>886</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Parsed_MSP_Enseignes_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choice_Produit_Mesure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mesure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Opp_Mesure_incluse</targetReference>
            </connector>
            <label>Produit Mesure</label>
        </rules>
        <rules>
            <name>Produit_Promogaming_Monomarque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promogaming Monomarque</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignation_Opp_Promogaming_Monomarque</targetReference>
            </connector>
            <label>Produit Promogaming Monomarque</label>
        </rules>
        <rules>
            <name>Produit_Promogaming_Multimarques</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promogaming Multimarques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignation_Opp_Promogaming_Multimarques</targetReference>
            </connector>
            <label>Produit Promogaming Multimarques</label>
        </rules>
        <rules>
            <name>Promo_Perso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion_Personnalisee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Enseigne</targetReference>
            </connector>
            <label>Promo Perso</label>
        </rules>
        <rules>
            <name>Produit_Frais_Graphique</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Frais_Graphiques</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignement_Opp_frais_graphique</targetReference>
            </connector>
            <label>Produit Frais Graphique</label>
        </rules>
    </decisions>
    <decisions>
        <name>ByPass_Flow</name>
        <label>ByPass Flow</label>
        <locationX>611</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Get_Related_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de ByPass</defaultConnectorLabel>
        <rules>
            <name>ByPass</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.CS1_ByPass__c.ByPass_Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestDataFactory</stringValue>
                </rightValue>
            </conditions>
            <label>ByPass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Check_dates_campagne_Opp</name>
        <label>Check dates campagne Opp</label>
        <locationX>886</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Taches_planifiees_creees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rien à faire</defaultConnectorLabel>
        <rules>
            <name>Choice_Dates_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignStartDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignEndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Opp_Dates_Campagne_null</targetReference>
            </connector>
            <label>Dates empty</label>
        </rules>
        <rules>
            <name>Date_de_debut_opp_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignStartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignEndDate__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Opp_Dates_Campagne_Date_debut</targetReference>
            </connector>
            <label>Date de début opp à update</label>
        </rules>
        <rules>
            <name>Date_de_fin_opp_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignStartDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Opp_Dates_Campagne_Date_fin</targetReference>
            </connector>
            <label>Date de fin opp à update</label>
        </rules>
        <rules>
            <name>Date_debut_et_fin_updater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignStartDate__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.StartDate__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.CampaignEndDate__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.EndDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Date_de_debut_et_fin</targetReference>
            </connector>
            <label>Date opp début et fin à updater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Enseigne_already_selected</name>
        <label>Enseigne already selected ?</label>
        <locationX>1678</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Loop_Values_Multiselect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Enseigne already selected</defaultConnectorLabel>
        <rules>
            <name>Choice_Enseigne_not_selected_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_New_Enseigne_Opp</targetReference>
            </connector>
            <label>Enseigne not selected yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opp_associee</name>
        <label>Opp associée ?</label>
        <locationX>1436</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Pas d&apos;opp</defaultConnectorLabel>
        <rules>
            <name>Opp_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Action_Trigger</targetReference>
            </connector>
            <label>Opp existe</label>
        </rules>
    </decisions>
    <decisions>
        <name>Taches_planifiees_creees</name>
        <label>Tâches planifiées créées ?</label>
        <locationX>886</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Get_Tasks_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de tâches</defaultConnectorLabel>
        <rules>
            <name>Taches_existantes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Opportunity.Taches_planifiees_creees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp</targetReference>
            </connector>
            <label>Tâches existantes</label>
        </rules>
    </decisions>
    <description>Ce flow est le trigger flow After Insert des Produits d&apos;opportunité. Il permet de mettre à jour l&apos;opportunité en fonction des différents informations contenues sur le produit d&apos;opportunité.

Une fois le produit d&apos;opportunité inséré, on vient créer les tâches planifiées liées au processus associé à ce type d&apos;opportunité.</description>
    <interviewLabel>ProduitOpportunitéAfterInsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ProduitOpportunitéAfterInsert</label>
    <loops>
        <name>Loop_Task_Templates</name>
        <label>Loop Task Templates</label>
        <locationX>1018</locationX>
        <locationY>2759</locationY>
        <collectionReference>Get_Tasks_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_DummyTaskPlanifiee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks_Planifiees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Values_Multiselect</name>
        <label>Loop_Values_Multiselect</label>
        <locationX>1458</locationX>
        <locationY>1295</locationY>
        <collectionReference>Collection_MSP_Enseignes_PO_Text</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collection_Filter_Enseignes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Check_dates_campagne_Opp</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks_Planifiees</name>
        <label>Create Tasks Planifiées</label>
        <locationX>1018</locationX>
        <locationY>3215</locationY>
        <connector>
            <targetReference>Assignment_Task_Planifiees_creees</targetReference>
        </connector>
        <inputReference>CollectionTasksPlanifiees</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Opportunity</name>
        <label>Get Related Opportunity</label>
        <locationX>1436</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Opp_associee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks_Templates</name>
        <label>Get Tasks Templates</label>
        <locationX>1018</locationX>
        <locationY>2639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Task_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Declencheur__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Debut_Campagne</stringValue>
            </value>
        </filters>
        <filters>
            <field>Objet__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type_enregistrement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Opportunity.Developer_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp</name>
        <label>Update Opp</label>
        <locationX>886</locationX>
        <locationY>3551</locationY>
        <inputReference>Get_Related_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TechnicalIds</name>
        <label>Update TechnicalIds</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>ByPass_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>TechnicalProductIds__c</field>
            <value>
                <elementReference>$Record.Package__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_TechnicalIds</targetReference>
        </connector>
        <object>Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Collection_MSP_Enseignes_Opps</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_MSP_Enseignes_PO_Text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionTasksPlanifiees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tache_Planifiee__c</objectType>
    </variables>
    <variables>
        <name>CountItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Enseignes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DummyTaskPlanifiee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tache_Planifiee__c</objectType>
    </variables>
</Flow>
