force-app/main/default/flows/Scheduled_Flow_Rappel_Tache_Ouvertes_Opportunites.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Reminder</name>
        <label>Send Reminder</label>
        <locationX>50</locationX>
        <locationY>1068</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BodyEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>CollectionUserEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Title_Template</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_User</name>
        <label>Assign User</label>
        <locationX>314</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>CollectionUserEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Task_Owner.Owner:User.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Task_Owner</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Title_Template</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Campagne imminente - Veuillez clôturer vos tâches associées</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Tasks_Open</name>
        <label>Tasks Open ?</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>No tasks</defaultConnectorLabel>
        <rules>
            <name>Open_tasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_tasks_associees</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Task_Owner</targetReference>
            </connector>
            <label>Open tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_already_flagged</name>
        <label>User already flagged ?</label>
        <locationX>226</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Assign_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New User</defaultConnectorLabel>
        <rules>
            <name>Outcome_User_already_flagged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionUserEmails</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_On_Task_Owner.Owner:User.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_On_Task_Owner</targetReference>
            </connector>
            <label>User already flagged</label>
        </rules>
    </decisions>
    <interviewLabel>Scheduled Flow - Rappel Tâche Ouvertes Opportunités {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow - Rappel Tâche Ouvertes Opportunités</label>
    <loops>
        <name>Loop_On_Task_Owner</name>
        <label>Loop On Task Owner</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_tasks_associees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>User_already_flagged</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Reminder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_tasks_associees</name>
        <label>Get tasks associées</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Open</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_tasks_associees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-24</startDate>
            <startTime>11:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La campagne {!$Record.Name} commence bientôt et une ou plusieurs de vos tâches liées à cette campagne sont encore ouvertes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Merci de les clôturer rapidement.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CollectionUserEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
