force-app/main/default/flows/Scheduled_flow_Creation_des_taches_planifiees.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Task_Var_Case</name>
        <label>Assign Task Var Case</label>
        <locationX>534</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Task_VAR.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Task_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Var_opp</name>
        <label>Assign Task Var opp</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Task_VAR.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Task_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Task_Values</name>
        <label>Assignment Task Values</label>
        <locationX>292</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>Task_VAR.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskOwnerFORM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Template.Priorite__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Template.Titre_tache__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Template.Commentaires__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Template_de_tache__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Template.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.Tache_planifiee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_butoir__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task_VAR.TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunit_Requete</name>
        <label>Opportunité/Requête</label>
        <locationX>292</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Get_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Requête</defaultConnectorLabel>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Objet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunité</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunite_Promogaming</name>
        <label>Opportunité Promogaming ?</label>
        <locationX>534</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Get_Mesure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de Promogaming</defaultConnectorLabel>
        <rules>
            <name>Promogaming_conditions_remplies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promogaming</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Task_Template.Opportunite_Promogaming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mesure</targetReference>
            </connector>
            <label>Promogaming conditions remplies</label>
        </rules>
        <rules>
            <name>Promogaming_conditions_non_remplies</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Template.Opportunite_Promogaming__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Opportunity_Record_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Promogaming</stringValue>
                </rightValue>
            </conditions>
            <label>Promogaming conditions non remplies</label>
        </rules>
    </decisions>
    <formulas>
        <name>TaskOwnerFORM</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Task_Template.Assigne__c}, &apos;CSM en charge&apos;) &amp;&amp; {!Opportunity}, {!Get_Opportunity.CSMenCharge__r.Id},
IF(ISPICKVAL({!Get_Task_Template.Assigne__c}, &apos;Owner&apos;) &amp;&amp; {!Opportunity}, {!Get_Opportunity.OwnerId},
IF(ISPICKVAL({!Get_Task_Template.Assigne__c}, &apos;CSM en charge&apos;) &amp;&amp; {!$Record.Objet__c} =&apos;Case&apos;,{!Get_Case.CSMenCharge__c},
IF(ISPICKVAL({!Get_Task_Template.Assigne__c}, &apos;Owner&apos;)&amp;&amp; {!$Record.Objet__c} =&apos;Case&apos;, {!Get_Case.OwnerId},
IF(ISPICKVAL({!Get_Task_Template.Assigne__c}, &apos;Equipe Mesure&apos;),{!Get_Mesure.Id},&apos;&apos;)))))</expression>
    </formulas>
    <interviewLabel>Scheduled flow - Création des tâches planifiées {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled flow - Création des tâches planifiées</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>292</locationX>
        <locationY>1428</locationY>
        <connector>
            <targetReference>Update_Task_planifiee_success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Tasks_Error</targetReference>
        </faultConnector>
        <inputReference>Task_VAR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>534</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunite_Promogaming</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mesure</name>
        <label>Get Mesure</label>
        <locationX>534</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Var_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Email_Equipe_Mesure</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Var_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Template</name>
        <label>Get Task Template</label>
        <locationX>292</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunit_Requete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Template_de_tache__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TacheTemplate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_planifiee_success</name>
        <label>Update Task planifiee success</label>
        <locationX>292</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Tâche créée</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_Error</name>
        <label>Update Tasks Error</label>
        <locationX>930</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Raison_Echec__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Statut__c</field>
            <value>
                <stringValue>Echec de création</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Creer_tache_aujourdhui__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planifiee</stringValue>
            </value>
        </filters>
        <object>Tache_Planifiee__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-22</startDate>
            <startTime>08:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Task_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
