force-app/main/default/flows/Screenflow_Generer_les_requetes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Id_to_Produit_Opp_Promo_perso</name>
        <label>Assign Case Id to Produit Opp Promo perso</label>
        <locationX>775</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Loop_Products_to_update_Promo_Perso.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_VAR.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Produits_Opp_to_collection_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dummy_RT</name>
        <label>Assign Dummy RT</label>
        <locationX>2183</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>DummyCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DummyLoop_RT_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DummyLoop_RT_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dummy_RT_Promogaming</name>
        <label>Assign Dummy RT Promogaming</label>
        <locationX>1831</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>DummyCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DummyLoop_RT_Promogaming.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DummyLoop_RT_Promogaming</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Produits_Opp_to_collection_Promo_Perso</name>
        <label>Assign Produits Opp to collection Promo Perso</label>
        <locationX>775</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppsToUpdate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Products_to_update_Promo_Perso</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Products_to_update_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RT_Promo_Perso</name>
        <label>Assign RT Promo Perso</label>
        <locationX>775</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Case_VAR.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DummyLoopOnPromoPerso.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DummyLoopOnPromoPerso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Blank_DummyCase</name>
        <label>Assignment Blank DummyCase</label>
        <locationX>1743</locationX>
        <locationY>3146</locationY>
        <assignmentItems>
            <assignToReference>DummyCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BlankCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Produits_d_Opp_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Case_Id_to_product</name>
        <label>Assignment Case Id to product</label>
        <locationX>1831</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_Produits_d_Opp_to_Update.Requete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DummyLoop_Case_Id_on_Produit_Opp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DummyLoop_Case_Id_on_Produit_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Case_Promo_Perso</name>
        <label>Assignment Case Promo Perso</label>
        <locationX>687</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Case_VAR.OI_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.CSMenCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objet_Promo_Perso_FORM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Advertiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.AdvertizerContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AdvertiserContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A venir</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Date_Debut_Theorique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CampaignStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Date_de_fin_theorique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CampaignEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CampaignStartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CampaignEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Enseignes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Enseignes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case_VAR.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Requetes_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Collection_Produits_Opps_RMO_EA_S_P</name>
        <label>Assignment Collection Produits Opps RMO/EA/S/P</label>
        <locationX>1831</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Collection_Produits_Opp_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collection_Filter_Produits_Opp_sans_Mesure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_des_requetes_Extension_Audience_Retail_Media</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_Promo_Perso</name>
        <label>Assignment Count Promo Perso</label>
        <locationX>687</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>CountCasesRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Produits_d_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Count_records_crees</name>
        <label>Assignment Count records créés</label>
        <locationX>1567</locationX>
        <locationY>3338</locationY>
        <assignmentItems>
            <assignToReference>CountCasesRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CollectionCaseToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Produits_d_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_DummyCase</name>
        <label>Assignment DummyCase</label>
        <locationX>1919</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>DummyCase.OI_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.CSMenCharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Mesure_incluse__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Mesure_incluse__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Tech_Produit_Opp__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Objet_FORM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.AdvertizerContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AdvertiserContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Advertiser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Date_Debut_Theorique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Date_de_fin_theorique__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.StartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Enseignes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Enseignes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A venir</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DummyCase.Brand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.Brand__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_du_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Owner_Autres_requetes</name>
        <label>Assignment Owner Autres requêtes</label>
        <locationX>2051</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>DummyCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity_record.CSMenCharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_to_Case_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Owner_Paula_Alvez</name>
        <label>Assignment Owner Paula Alvez</label>
        <locationX>1787</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>DummyCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_des_requetes_Extension_Audience_Retail_Media.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_to_Case_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Produits_Opp_Promo_Perso</name>
        <label>Assignment Produits Opp Promo Perso</label>
        <locationX>687</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Collection_Produits_Opp_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Produits_Opportunite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Case_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_Case_Collection</name>
        <label>Assignment to Case Collection</label>
        <locationX>1919</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>CollectionCaseToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DummyCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Produits_Opps_Hors_Promo_Perso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_to_Collection_PO_to_update_2</name>
        <label>Assignment to Collection PO to update 2</label>
        <locationX>1743</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>CollectionProduitsOppsToUpdate2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Produits_d_Opp_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Blank_DummyCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collection_Produits_Opp_Autres</name>
        <label>Assignment_Collection_Produits_Opp_Autres</label>
        <locationX>1567</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Collection_Produits_Opp_To_Update</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Produits_Opportunite</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Owner_des_requetes_Extension_Audience_Retail_Media</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_Produits_Opp_sans_Mesure</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter Produits d&apos;Opp sans Mesure</label>
        <locationX>1831</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_Produits_Opp_sans_Mesure</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Produits_Opportunite</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Produits_Opp_sans_Mesure.Type_de_produit__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Mesure</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_Collection_Produits_Opps_RMO_EA_S_P</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collection_Filter_Promogaming</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter Promogaming</label>
        <locationX>1743</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_Promogaming_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_Promogaming_0.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Frais_Graphiques</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DummyLoop_RT_Promogaming</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collection_Filter_to_RT_current_item_Produit_Opp</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter to RT current item Produit Opp</label>
        <locationX>2095</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_to_RT_current_item_Produit_Opp</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_to_RT_current_item_Produit_Opp.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_Produits_Opps_Hors_Promo_Perso.Type_de_produit__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DummyLoop_RT_Case</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_RT_Promo_Perso</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to RT Promo Perso</label>
        <locationX>687</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_to_RT_Promo_Perso</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Record_Type</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_RT_Promo_Perso.DeveloperName</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Promotion_Personnalisee</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DummyLoopOnPromoPerso</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filtered_Case_Id</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtered Case Id</label>
        <locationX>1743</locationX>
        <locationY>2630</locationY>
        <assignNextValueToReference>currentItem_Filtered_Case_Id</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CollectionCaseToCreate</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtered_Case_Id.Tech_Produit_Opp__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_on_Produits_d_Opp_to_Update.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>DummyLoop_Case_Id_on_Produit_Opp</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_CSM_en_charge_renseigne</name>
        <label>Check CSM en charge renseigné</label>
        <locationX>456</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Produits_Opportunite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CSM en charge renseigné</defaultConnectorLabel>
        <rules>
            <name>PasdeCSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.CSMenCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenError</targetReference>
            </connector>
            <label>Pas de CSM</label>
        </rules>
        <rules>
            <name>CSM_en_charge_inactif</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.CSMenCharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_record.CSMenCharge__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenError</targetReference>
            </connector>
            <label>CSM en charge inactif</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Requetes_deja_generees</name>
        <label>Requêtes déjà générées ?</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_CSM_en_charge_renseigne</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de requêtes</defaultConnectorLabel>
        <rules>
            <name>Requetes_generees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.Tech_Requetes_Generees__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenError</targetReference>
            </connector>
            <label>Requêtes générées</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionRequetesCrees</name>
        <label>DecisionRequêtesCréées</label>
        <locationX>1259</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>PasDeRequeteGeneree</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pas de Requête Créée</defaultConnectorLabel>
        <rules>
            <name>AuMoinsUneRequeteCree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCasesRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_requetes_Generees</targetReference>
            </connector>
            <label>AuMoinsUneRequeteCréée</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunite_Promogaming</name>
        <label>Opportunite Promogaming ?</label>
        <locationX>1919</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Collection_Filter_to_RT_current_item_Produit_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autre que Promogaming</defaultConnectorLabel>
        <rules>
            <name>Outcome_Promogaming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promogaming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Filter_Promogaming</targetReference>
            </connector>
            <label>Promogaming</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_du_case</name>
        <label>Owner du case</label>
        <locationX>1919</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assignment_Owner_Autres_requetes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Autres</defaultConnectorLabel>
        <rules>
            <name>Outcome_Extension_d_Audience_Retail_Media</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Hors_Promo_Perso.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retail_Media_OnSite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Produits_Opps_Hors_Promo_Perso.Type_de_produit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extension_Audience</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Owner_Paula_Alvez</targetReference>
            </connector>
            <label>Extension d&apos;Audience/Retail Media</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pas_de_Produits_d_opps</name>
        <label>Pas de Produits d&apos;opps</label>
        <locationX>841</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Produits d&apos;Opp ajoutés</defaultConnectorLabel>
        <rules>
            <name>Outcome_Pas_de_produits_d_opps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Produits_Opportunite</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenError</targetReference>
            </connector>
            <label>Pas de produits d&apos;opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_Opportunite</name>
        <label>Type d&apos;Opportunité</label>
        <locationX>1259</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Collection_Filter_Produits_Opp_sans_Mesure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retail OnSite / Extension Audience/Promogaming/Search</defaultConnectorLabel>
        <rules>
            <name>PromoPerso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Promotion_Personnalisee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_RT_Promo_Perso</targetReference>
            </connector>
            <label>Promo Perso</label>
        </rules>
        <rules>
            <name>Autres</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Autres</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collection_Produits_Opp_Autres</targetReference>
            </connector>
            <label>Autres</label>
        </rules>
    </decisions>
    <formulas>
        <name>CaseRT_VAR</name>
        <dataType>String</dataType>
        <expression>{!currentItem_Collection_Filter_to_RT_current_item_Produit_Opp.DeveloperName}</expression>
    </formulas>
    <formulas>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Requetes_generees} = true, &apos;Les requêtes liées à cette opportunité ont déjà été générées&apos;,
    IF({!CSM_en_charge_inactif} = true, &apos;Le CSM en charge de l opportunité est inactif. Veuillez réassigner l opportunité avant de générer les requêtes&apos;,
IF({!PasdeCSM} = true, &apos;Veuillez d abord assigner un CSM&apos;,
IF({!Outcome_Pas_de_produits_d_opps} = true, &apos;Veuillez ajouter au moins un produit d opportunité&apos;,
    &apos;&apos;))))</expression>
    </formulas>
    <formulas>
        <name>Objet_FORM</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_record.InsertionOrderId__c} + &apos; - &apos; + {!Get_Opportunity_record.Account.Name} +  &apos; - &apos; + {!Loop_Produits_Opps_Hors_Promo_Perso.Name} +  &apos; - &apos; + TEXT(MONTH(TODAY())) +&apos;-&apos;+ TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Objet_Promo_Perso_FORM</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_record.InsertionOrderId__c} + &apos; - &apos; + {!Get_Opportunity_record.Account.Name} +  &apos; - &apos; + &apos;Promo Perso&apos; +  &apos; - &apos; + TEXT(MONTH(TODAY())) +&apos;-&apos;+ TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>Text_Cases_Crees_FORM</name>
        <dataType>String</dataType>
        <expression>IF ({!CountCasesRecords} &lt;2,&apos;Votre requête a bien été créée&apos;,&apos;Vos requêtes ont bien été créées&apos;)</expression>
    </formulas>
    <interviewLabel>Screenflow - Générer les requêtes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow - Générer les requêtes</label>
    <loops>
        <name>DummyLoop_Case_Id_on_Produit_Opp</name>
        <label>DummyLoop Case Id on Produit Opp</label>
        <locationX>1743</locationX>
        <locationY>2738</locationY>
        <collectionReference>Filtered_Case_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Case_Id_to_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_to_Collection_PO_to_update_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DummyLoop_RT_Case</name>
        <label>DummyLoop RT Case</label>
        <locationX>2095</locationX>
        <locationY>1430</locationY>
        <collectionReference>Collection_Filter_to_RT_current_item_Produit_Opp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Dummy_RT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_DummyCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DummyLoop_RT_Promogaming</name>
        <label>DummyLoop RT Promogaming</label>
        <locationX>1743</locationX>
        <locationY>1430</locationY>
        <collectionReference>Collection_Filter_Promogaming</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Dummy_RT_Promogaming</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_DummyCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>DummyLoopOnPromoPerso</name>
        <label>DummyLoopOnPromoPerso</label>
        <locationX>687</locationX>
        <locationY>998</locationY>
        <collectionReference>Filter_to_RT_Promo_Perso</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RT_Promo_Perso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Produits_Opp_Promo_Perso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Produits_d_Opp_to_Update</name>
        <label>Loop on Produits d&apos;Opp to Update</label>
        <locationX>1567</locationX>
        <locationY>2522</locationY>
        <collectionReference>Collection_Produits_Opp_To_Update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filtered_Case_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Count_records_crees</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Products_to_update_Promo_Perso</name>
        <label>Loop Products to update Promo Perso</label>
        <locationX>687</locationX>
        <locationY>1622</locationY>
        <collectionReference>Get_Produits_Opportunite</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Id_to_Produit_Opp_Promo_perso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Count_Promo_Perso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Produits_Opps_Hors_Promo_Perso</name>
        <label>Loop Produits Opps Hors Promo Perso</label>
        <locationX>1567</locationX>
        <locationY>1106</locationY>
        <collectionReference>Collection_Produits_Opp_To_Update</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Opportunite_Promogaming</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cases_Collection</name>
        <label>Create Cases Collection</label>
        <locationX>1567</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Loop_on_Produits_d_Opp_to_Update</targetReference>
        </connector>
        <inputReference>CollectionCaseToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Requetes_Promo_Perso</name>
        <label>Create Requêtes Promo Perso</label>
        <locationX>687</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Loop_Products_to_update_Promo_Perso</targetReference>
        </connector>
        <inputReference>Case_VAR</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity_record</name>
        <label>Get Opportunity record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Requetes_deja_generees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_des_requetes_Extension_Audience_Retail_Media</name>
        <label>Get Owner des requêtes Extension Audience &amp; Retail Media</label>
        <locationX>1567</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Produits_Opps_Hors_Promo_Perso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Owner_Requete_Extension_audience_Retail_Media</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Produits_Opportunite</name>
        <label>Get Produits d&apos;opportunité</label>
        <locationX>841</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pas_de_Produits_d_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type_de_produit__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Autres</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1259</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Opportunite</targetReference>
        </connector>
        <filterLogic>1 AND( 2 OR 3 OR 4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extension_Audience</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mesure</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frais_Graphiques</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Search</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Promotion_Personnalisee</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retail_Media_OnSite</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_requetes_Generees</name>
        <label>Update Opp requête déjà générées</label>
        <locationX>1127</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Final_Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tech_Requetes_Generees__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Produits_d_Opps</name>
        <label>Update Produits d&apos;Opps</label>
        <locationX>1259</locationX>
        <locationY>3530</locationY>
        <connector>
            <targetReference>DecisionRequetesCrees</targetReference>
        </connector>
        <inputReference>CollectionProduitsOppsToUpdate2</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Final_Screen_Success</name>
        <label>Final Screen Success</label>
        <locationX>1127</locationX>
        <locationY>3854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Text_Success</name>
            <fieldText>&lt;p&gt;{!Text_Cases_Crees_FORM}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PasDeRequeteGeneree</name>
        <label>PasDeRequeteGeneree</label>
        <locationX>1391</locationX>
        <locationY>3746</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCreatedCases</name>
            <fieldText>&lt;p&gt;Aucune requête n&apos;a été générée. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ScreenError</name>
        <label>Screen Error</label>
        <locationX>176</locationX>
        <locationY>4406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;{!ErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Case_VAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseCreated</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Collection_Produits_Opp_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>CollectionCaseToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectionProduitsOppsToUpdate2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>CountCasesRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_for_Mapping_Case_Id_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Produits_Opp_sans_Mesure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_Promogaming_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_to_RT_current_item_Produit_Opp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_RT_Promo_Perso</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtered_Case_Id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>DummyCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RT_VAR</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
